config POTI_SAMPLES
	int "Number of samples to be made on ADC channel for the potentiometer."
	default 10

config POTI_MIN
	int "The mnimum raw adc value where speed = 127 (range 0-4095)."
	default 2600

config POTI_MAX
	int "The maximum raw adc value where speed = 0 (range 0-4095)."
	default 2830

config POTI_POLL_MSEC
	int "The polling interval in milliseconds."
	default 500

config WIFI_SSID
	string "The SSID of the DCC-EX wifi to connect to."

config WIFI_PASSWORD
	string "The password for the DCC-EX wifi to connect to."

config DCC_IP
	string "The IP of the DCC-EX control center."
	default "192.168.4.1"

source "Kconfig.zephyr"
